<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="providersSection" type="MenervaProviders.Manager.SupportedProviders, MenervaProviders.Manager" />
  </configSections>
  <providersSection>
    <providers>
      <add key="customers" assembly="MenervaProvider.Customers.Provider, MenervaProvider.Customers" />
    </providers>
  </providersSection>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAnBaseContract" />
        <binding name="BasicHttpBinding_IAnPartnerContract" maxReceivedMessageSize="400000000"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.100.120.4:6678/Base" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IAnBaseContract" contract="IAnBaseContract"
          name="BasicHttpBinding_IAnBaseContract" />
      <endpoint address="http://10.100.120.4:6678/Partner" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAnPartnerContract"
                contract="IAnPartnerContract" name="BasicHttpBinding_IAnPartnerContract" />
    </client>
  </system.serviceModel>

</configuration>