<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAnBaseContract" />
                <binding name="BasicHttpBinding_IAnPartnerContract" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.100.120.4:6678/Base" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAnBaseContract" contract="IAnBaseContract"
                name="BasicHttpBinding_IAnBaseContract" />
            <endpoint address="http://10.100.120.4:6678/Partner" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAnPartnerContract"
                contract="IAnPartnerContract" name="BasicHttpBinding_IAnPartnerContract" />
        </client>
    </system.serviceModel>
</configuration>